{% include "navbar.html" %}
<!DOCTYPE html>
<html>
<head>
  <title>Movie Recommendation Code Summary</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    h1 {
      color: #333;
    }
    p {
      color: #666;
      line-height: 1.5;
    }
    .card {
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px;
      margin-right: 10px;
      text-align: center;
      width: 80px;
    }
    .card img {
      width: 30px;
      height: 30px;
    }
  </style>
</head>
<body>
    <div class=container>
        <!-- Social Media Links -->
        <div>
            <p class="my-50"><b>LET'S CONNECT</b></p>
            <ul class="list">
            <li class="list-inline-item">
                <div class="card">
                <a href="https://github.com/Kool-Cool">
                    <img alt="github_logo" width="20" height="20" src="https://th.bing.com/th/id/OIP.D_Gm8IGCvkqmOgtU2hueVwHaHS?w=150&h=180&c=7&r=0&o=5&pid=1.7">
                </a>
                <p>Github</p>
                </div>
            </li>
            <li class="list-inline-item">
                <div class="card">
                <a href="https://www.linkedin.com/in/omkar-jadhav-399158227/">
                    <img alt="linkedin_logo" width="20" height="20" src="https://image.freepik.com/free-icon/linkedin-rondure_318-26627.jpg">
                </a>
                <p>LinkedIn</p>
                </div>
            </li>
            <li class="list-inline-item">
                <div class="card">
                <a href="https://www.kaggle.com/koolcool0">
                    <img alt="kaggle" width="20" height="20" src="https://w7.pngwing.com/pngs/210/701/png-transparent-kaggle-brands-icon.png">
                </a>
                <p>Kaggle</p>
                </div>
            </li>
            <li class="list-inline-item">
                <div class="card">
                <a href="mailto:omkarjadhav0507@gmail.com">
                    <img alt="e-main" width="20" height="20" src="https://icon-library.com/images/email-icon-black/email-icon-black-28.jpg">
                </a>
                <p>Email</p>
                </div>
            </li>
            </ul>
        </div>
    </div>
</body>
</html>


{% include "footer.html" %}
