{% include "navbar.html" %}

<div class="container py-3">
    <ul class="list-inline">

        <li class="list-inline-item">
            <a href="https://github.com/Kool-Cool">
                <img alt="github_logo" width="20" height="20" src="https://th.bing.com/th/id/OIP.D_Gm8IGCvkqmOgtU2hueVwHaHS?w=150&h=180&c=7&r=0&o=5&pid=1.7">
            </a>
        </li>

        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/omkar-jadhav-399158227/">
                <img alt="linkedin_logo" width="20" height="20" src="https://image.freepik.com/free-icon/linkedin-rondure_318-26627.jpg">
            </a>
        </li>

        <li class="list-inline-item">
            <a href="https://www.kaggle.com/koolcool0">
                <img alt="kaggle" width="20" height="20" src="https://w7.pngwing.com/pngs/210/701/png-transparent-kaggle-brands-icon.png">
            </a>
        </li>

        <li class="list-inline-item">
            <a href="mailto:omkarjadhav0507@gmail.com">
                <img alt="e-main" width="20" height="20" src="https://icon-library.com/images/email-icon-black/email-icon-black-28.jpg">
            </a>
        </li>
    </ul>
    <p class="mb-0"><b>LET'S CONNECT</b></p>
</div>

{% include "footer.html" %}
