<div class="parent">
    <div class="bottom">
        <footer class="bg-light text-center">
            <div class="container py-3">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.w3schools.in/html/anchor" >
                            <img alt = "github_logo"  width="50" height="20" src = "https://th.bing.com/th/id/OIP.7jQXHLIbzqEG1yRALxHDUQHaBo?w=317&h=77&c=7&r=0&o=5&pid=1.7" >
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://www.w3schools.in/html/anchor" >
                            <img alt = "github_logo"  width="50" height="20" src = "https://th.bing.com/th/id/OIP.7jQXHLIbzqEG1yRALxHDUQHaBo?w=317&h=77&c=7&r=0&o=5&pid=1.7" >
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://www.w3schools.in/html/anchor" >
                            <img alt = "github_logo"  width="50" height="20" src = "https://th.bing.com/th/id/OIP.7jQXHLIbzqEG1yRALxHDUQHaBo?w=317&h=77&c=7&r=0&o=5&pid=1.7" >
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://www.w3schools.in/html/anchor" >
                            <img alt = "github_logo"  width="50" height="20" src = "https://th.bing.com/th/id/OIP.7jQXHLIbzqEG1yRALxHDUQHaBo?w=317&h=77&c=7&r=0&o=5&pid=1.7" >
                        </a>
                    </li>

                </ul>
                <p class="mb-0"><b>LET'S CONNECT</b></p>
            </div>
        </footer>
    </div>
</div>

<style>

    .bottom {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
</style>
